services:
  db:
    image: postgres:15
    environment:
      POSTGRES_DB: reviewer
      POSTGRES_USER: user
      POSTGRES_PASSWORD: pass
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U user -d reviewer"]
      interval: 5s
      timeout: 5s
      retries: 10

  app:
    build: .
    ports:
      - "8080:8080"
    environment:
      DB_URL: "postgres://user:pass@db:5432/reviewer?sslmode=disable"
    depends_on:
      db:
        condition: service_healthy
    command: >
      sh -c "
        echo 'Waiting for DB...' &&
        until pg_isready -h db -p 5432 -U user -d reviewer; do
          sleep 2;
        done &&
        echo 'Running migrations...' &&
        migrate -path /root/migrations -database $$DB_URL up &&
        echo 'Starting app...' &&
        ./server
      "